.Pone-one{
    position: absolute;
    left: 70px;
    top: 60px;
}

.Pone-two{
    position: absolute;
    left: 70px;
    top: 200px;
}

.Pone-three{
    position: absolute;
    left: 70px; 
    top: 310px;
}

.Parrow1{
    position: absolute;
    left: 170px;
    top: 85px;
}

.Ptext1{
    /* นำเข้าอะไหล่โดยมีใบสั่งซื้อ */
    position: absolute;
    left: 39px;
    top: 125px;

    font-family: Kanit;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    text-align: center;

    color: #000000;
}

.Ptext2{
    position: absolute;
    left: 47px;
    top: 260px;

    font-family: Kanit;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    text-align: center;

    color: #000000;
}

.Ptext3{
    /* นำอะไหล่เข้าโดยไม่มีใบสั่งซื้อ (สำหรับโอนย้ายอะไหล่) */
    position: absolute;
    left: 74px;
    top: 390px;

    font-family: Kanit;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    text-align: center;

    color: #000000;
}

.Ptwo-one{
    position: absolute;
    left: 260px;
    top: 60px;
}

.Ptwo-two{
    position: absolute;
    left: 250px;
    top: 200px;
}

.Ptwo-three{
    position: absolute;
    left: 260px;
    top: 320px;
}

.Ptext4{
    position: absolute;
    left: 210px;
    top: 125px;

    font-family: Kanit;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    text-align: center;

    color: #000000;
}

.Ptext5{
    position: absolute;
    left: 255px;
    top: 260px;

    font-family: Kanit;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    text-align: center;

    color: #000000;
}

.Ptext6{
    position: absolute;
    left: 275px;
    top: 390px;

    font-family: Kanit;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    text-align: center;

    color: #000000;
}

.Pthree-one{
    position: absolute;
    left: 460px;
    top: 45px;
}

.Parrow2{
    position: absolute;
    left: 380px;
    top: 85px;
}

.Ptext7{
    /* นำเข้าอะไหล่โดยมีใบสั่งซื้อ */
    position: absolute;
    left: 440px;
    top: 125px;
    font-family: Kanit;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    text-align: center;

    color: #000000;
}

.Pfour-one{
    position: absolute;
    left: 640px;
    top: 60px;
}

.Pfour-two{
    position: absolute;
    left: 645px;
    top: 210px;
}

.Ptext8{
    /* นำเข้าอะไหล่โดยมีใบสั่งซื้อ */
    position: absolute;
    left: 630px;
    top: 130px;

    font-family: Kanit;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    text-align: center;

    color: #000000;
}

.Ptext9{
    /* นำเข้าอะไหล่โดยมีใบสั่งซื้อ */
    position: absolute;
    left: 620px;
    top: 265px;

    font-family: Kanit;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    text-align: center;

    color: #000000;
}

.Pfive-one{
    position: absolute;
    left: 800px;
    top: 65px;
}

.Ptext10{
    /* นำเข้าอะไหล่โดยมีใบสั่งซื้อ */
    position: absolute;
    left: 805px;
    top: 135px;

    font-family: Kanit;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    text-align: center;

    color: #000000;
}

.Pdrop-dawn1{
    position: absolute;
    left: 290px;
    top: -20px;
}

.Pdrop-dawn2{
    position: absolute;
    left: 650px;
    top: -20px;
}