
.drop-dawn1{
    position: absolute;
    left: 160px;
    top: 130px;
}

.drop-dawn2{
    position: absolute;
    left: 640px;
    top: 130px;
}

.drop-dawn3{
    position: absolute;
    left: 610px;
    top: 236px;
}
.drop-dawn4{
    position: absolute;
    left: 735px;
    top: 236px;
}




.one-one{
    position: absolute;
    left: 100px;
    top: 90px;
}

.one-one-new{
    position: absolute;
    left: 90px;
    top: 90px;
}




.one-two{
    position: absolute;
    left: 100px;
    top: 200px;
}
.one-two-new{
    position: absolute;
    left: 80px;
    top: 210px;
}





.one-three{
    position: absolute;
    left: 100px;
    top: 310px;
}
.one-three-new{
    position: absolute;
    left: 80px;
    top: 310px;
}





.arrow1{
    position: absolute;
    left: 220px;
    top: 170px;
}

.arrow2{
    position: absolute;
    left: 220px;
    top: 240px;
}

.arrow3{
    position: absolute;
    left: 220px;
    top: 300px;
}

.text1{
    /* นำเข้าอะไหล่โดยมีใบสั่งซื้อ */
    position: absolute;
    width: 141px;
    height: 21px;
    left: 58px;
    top: 160px;

    font-family: Kanit;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    text-align: center;

    color: #000000;
}

.text2{
    position: absolute;
    width: 162px;
    height: 21px;
    left: 44px;
    top: 270px;

    font-family: Kanit;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    text-align: center;

    color: #000000;
}

.text3{
    /* นำอะไหล่เข้าโดยไม่มีใบสั่งซื้อ (สำหรับโอนย้ายอะไหล่) */
    position: absolute;
    left: 95px;
    top: 370px;

    font-family: Kanit;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    text-align: center;

    color: #000000;
}




.center{
    position: absolute;
    left: 280px;
    top: 220px;
}

.center-new{
    position: absolute;
    left: 273px;
    top: 205px;
}





.text4{
    /* คงคลังอะไหล่ */
    position: absolute;
    width: 75px;
    height: 21px;
    left: 272px;
    top: 270px;

    font-family: Kanit;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    text-align: center;

    color: #000000;
}




.two-one{
    position: absolute;
    width: 65px;
    height: 65px;
    left: 429px;
    top: 105px;
}
.two-one-new{
    position: absolute;
    width: 65px;
    height: 65px;
    left: 418px;
    top: 94px;
}




.two-two{
    position: absolute;
    left: 429px;
    top: 210px;
}
.two-two-new{
    position: absolute;
    left: 420px;
    top: 210px;
}




.two-three{
    position: absolute;
width: 55px;
height: 55px;
left: 429px;
top: 310px;
}
.two-three-new{
    position: absolute;
width: 55px;
left: 420px;
top: 295px;
}





.arrow4{
position: absolute;
left: 375px;
top: 170px;
}

.arrow5{
position: absolute;
left: 375px;
top: 240px;
}

.arrow6{
    position: absolute;
    left: 375px;
top: 300px;

}

.text5{
position: absolute;
width: 102px;
height: 21px;
left: 410px;
top: 163px;

font-family: Kanit;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 21px;
/* identical to box height */
text-align: center;

color: #000000;
}

.text6{
   
/* ส่งซ่อมอะไหล่ */
position: absolute;
left: 422px;
top: 272px;

font-family: Kanit;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 21px;
/* identical to box height */
text-align: center;

color: #000000;


}

.text7{
     /* นำอะไหลออก */

position: absolute;
left: 420px;
top: 370px;

font-family: Kanit;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 21px;
/* identical to box height */
text-align: center;

color: #000000;


}




.three-one{
position: absolute;
left: 600px;
    top: 88px;
}
.three-one-new{
    position: absolute;
    left: 570px;
        top: 92px;
    }



.three-two{
    position: absolute;
    left: 600px;
    top: 215px;
}
.three-two-new{
    position: absolute;
    left: 580px;
    top: 205px;
}




.three-three{
position: absolute;
left: 600px;
top: 310px;
}
.three-three-new{
    position: absolute;
    left: 580px;
    top: 310px;
    }




.text8{
    /* ส่งซ่อมอะไหล่ */

position: absolute;
width: 110px;
height: 42px;
left: 570px;
top: 165px;

font-family: Kanit;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 21px;
/* identical to box height */
text-align: center;

color: #000000;
}

.text9{
position: absolute;
left: 572px;
top: 272px;

font-family: Kanit;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 21px;
/* identical to box height */
text-align: center;

color: #000000;
}

.text10{
    /* จำหน่ายซากอะไหล่ */

position: absolute;
left: 575px;
top: 372px;

font-family: Kanit;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 21px;
/* identical to box height */
text-align: center;

color: #000000;
}




.four-one{
    position: absolute;
    left: 750px;
    top: 100px;
}
.four-one-new{
    position: absolute;
    left: 740px;
    top: 90px;
}




.four-two{
    position: absolute;
    left: 750px;
    top: 220px;
}
.four-two-new{
    position: absolute;
    left: 750px;
    top: 190px;
}




.four-three{
    position: absolute;
    left: 750px;
    top: 315px;
}
.four-three-new{
    position: absolute;
    left: 750px;
    top: 295px;
}




.text11{
    position: absolute;
width: 84px;
height: 21px;
left: 740px;
top: 165px;

font-family: Kanit;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 21px;
/* identical to box height */
text-align: center;

color: #000000;
}

.text12{
    position: absolute;
width: 84px;
height: 21px;
left: 740px;
top: 275px;

font-family: Kanit;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 21px;
/* identical to box height */
text-align: center;

color: #000000;
}

.text13{
    position: absolute;
left: 760px;
top: 380px;

font-family: Kanit;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 21px;
/* identical to box height */
text-align: center;

color: #000000;
}

.p-tooltip__message.edit_p_tooltip__message.tooltip1 {
    top: 160px;
    left: 120px;
}

.p-tooltip__message.edit_p_tooltip__message.tooltip2 {
    top: 270px;
    left: 120px;
}

.p-tooltip__message.edit_p_tooltip__message.tooltip2_5 {
    top: 360px;
    left: 120px;
}

.p-tooltip__message.edit_p_tooltip__message.tooltip3 {
    top: 160px;
    left: 460px;
}

.p-tooltip__message.edit_p_tooltip__message.tooltip4 {
    top: 160px;
    left: 620px;
}

.p-tooltip__message.edit_p_tooltip__message.tooltip5 {
    top: 280px;
    left: 460px;
}

.p-tooltip__message.edit_p_tooltip__message.tooltip6 {
    top: 380px;
    left: 460px;
}

.p-tooltip__message.edit_p_tooltip__message.tooltip8 {
    top: 270px;
    left: 630px;
}

.p-tooltip__message.edit_p_tooltip__message.tooltip9 {
    top: 370px;
    left: 630px;
}

.p-tooltip__message.edit_p_tooltip__message.tooltip10 {
    top: 275px;
    left: 775px;
}