
.drop-dawn1{
    position: absolute;
    left: 150px;
    top: 130px;
}

.drop-dawn2{
    position: absolute;
    left: 610px;
    top: 20px;
}

.drop-dawn3{
    position: absolute;
    left: 740px;
    top: 240px;
}

.one-one{
    position: absolute;
    left: 100px;
    top: 90px;
}

.one-two{
    position: absolute;
    left: 100px;
    top: 200px;
}

.one-three{
    position: absolute;
    left: 100px;
    top: 310px;
}

.arrow1{
    position: absolute;
    left: 220px;
    top: 170px;
}

.arrow2{
    position: absolute;
    left: 220px;
    top: 240px;
}

.arrow3{
    position: absolute;
    left: 220px;
    top: 300px;
}

.text1{
    /* นำเข้าอะไหล่โดยมีใบสั่งซื้อ */
    position: absolute;
    width: 141px;
    height: 21px;
    left: 58px;
    top: 160px;

    font-family: Kanit;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    text-align: center;

    color: #000000;
}

.text2{
    position: absolute;
    width: 162px;
    height: 21px;
    left: 44px;
    top: 270px;

    font-family: Kanit;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    text-align: center;

    color: #000000;
}

.text3{
    /* นำอะไหล่เข้าโดยไม่มีใบสั่งซื้อ (สำหรับโอนย้ายอะไหล่) */
    position: absolute;
    width: 154px;
    height: 42px;
    left: 49px;
    top: 370px;

    font-family: Kanit;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    text-align: center;

    color: #000000;
}

.center{
    position: absolute;
    left: 280px;
    top: 220px;
}

.text4{
    /* คงคลังอะไหล่ */
    position: absolute;
    width: 75px;
    height: 21px;
    left: 272px;
    top: 270px;

    font-family: Kanit;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    text-align: center;

    color: #000000;
}

.two-one{
    position: absolute;
    width: 65px;
    height: 65px;
    left: 429px;
    top: 105px;
}

.two-two{
    position: absolute;
    left: 429px;
    top: 210px;
}

.two-three{
    position: absolute;
width: 55px;
height: 55px;
left: 429px;
top: 310px;
}

.arrow4{
position: absolute;
left: 375px;
top: 170px;
}

.arrow5{
position: absolute;
left: 375px;
top: 240px;
}

.arrow6{
    position: absolute;
    left: 375px;
top: 300px;

}

.text5{
position: absolute;
width: 102px;
height: 21px;
left: 410px;
top: 163px;

font-family: Kanit;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 21px;
/* identical to box height */
text-align: center;

color: #000000;
}

.text6{
    /* นำอะไหลชำรุดออก */

position: absolute;
width: 103px;
height: 21px;
left: 406px;
top: 272px;

font-family: Kanit;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 21px;
/* identical to box height */
text-align: center;

color: #000000;


}

.text7{
    /* ส่งซ่อมอะไหล่ */

position: absolute;
width: 74px;
height: 21px;
left: 419px;
top: 370px;

font-family: Kanit;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 21px;
/* identical to box height */
text-align: center;

color: #000000;


}

.three-one{
position: absolute;
left: 600px;
    top: 88px;
}

.three-two{
    position: absolute;
    left: 600px;
    top: 215px;
}

.three-three{
position: absolute;
left: 600px;
top: 310px;
}

.text8{
    /* ส่งซ่อมอะไหล่ */

position: absolute;
width: 110px;
height: 42px;
left: 570px;
top: 165px;

font-family: Kanit;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 21px;
/* identical to box height */
text-align: center;

color: #000000;
}

.text9{
position: absolute;
width: 110px;
height: 42px;
left: 570px;
top: 272px;

font-family: Kanit;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 21px;
/* identical to box height */
text-align: center;

color: #000000;
}

.text10{
    /* จำหน่ายซากอะไหล่ */

position: absolute;
width: 101px;
height: 21px;
left: 575px;
top: 372px;

font-family: Kanit;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 21px;
/* identical to box height */
text-align: center;

color: #000000;
}

.four-one{
    position: absolute;
    left: 750px;
    top: 100px;
}

.four-two{
    position: absolute;
    left: 750px;
    top: 220px;
}

.four-three{
    position: absolute;
    left: 750px;
    top: 315px;
}

.text11{
    position: absolute;
width: 84px;
height: 21px;
left: 740px;
top: 165px;

font-family: Kanit;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 21px;
/* identical to box height */
text-align: center;

color: #000000;
}

.text12{
    position: absolute;
width: 84px;
height: 21px;
left: 740px;
top: 275px;

font-family: Kanit;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 21px;
/* identical to box height */
text-align: center;

color: #000000;
}

.text13{
    position: absolute;
left: 760px;
top: 380px;

font-family: Kanit;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 21px;
/* identical to box height */
text-align: center;

color: #000000;
}