.Pone-one{
    position: absolute;
    left: 70px;
    top: 120px;
}

.Pone-two{
    position: absolute;
    left: 70px;
    top: 260px;
}

.Pone-three{
    position: absolute;
    left: 70px; 
    top: 370px;
}

.Parrow1{
    position: absolute;
    left: 190px;
    top: 145px;
}

.Ptext1{
    /* นำเข้าอะไหล่โดยมีใบสั่งซื้อ */
    position: absolute;
    left: 39px;
    top: 185px;

    font-family: Kanit;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    text-align: center;

    color: #000000;
}

.Ptext2{
    position: absolute;
    left: 47px;
    top: 320px;

    font-family: Kanit;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    text-align: center;

    color: #000000;
}

.Ptext3{
    /* นำอะไหล่เข้าโดยไม่มีใบสั่งซื้อ (สำหรับโอนย้ายอะไหล่) */
    position: absolute;
    left: 74px;
    top: 450px;

    font-family: Kanit;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    text-align: center;

    color: #000000;
}

.Ptwo-one{
    position: absolute;
    left: 280px;
    top: 120px;
}

.Ptwo-two{
    position: absolute;
    left: 270px;
    top: 260px;
}

.Ptwo-three{
    position: absolute;
    left: 280px;
    top: 380px;
}

.Ptext4{
    position: absolute;
    left: 230px;
    top: 185px;

    font-family: Kanit;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    text-align: center;

    color: #000000;
}

.Ptext5{
    position: absolute;
    left: 275px;
    top: 320px;

    font-family: Kanit;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    text-align: center;

    color: #000000;
}

.Ptext6{
    position: absolute;
    left: 295px;
    top: 450px;

    font-family: Kanit;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    text-align: center;

    color: #000000;
}

.Pthree-one{
    position: absolute;
    left: 480px;
    top: 105px;
}

.Parrow2{
    position: absolute;
    left: 400px;
    top: 145px;
}

.Ptext7{
    /* นำเข้าอะไหล่โดยมีใบสั่งซื้อ */
    position: absolute;
    left: 460px;
    top: 185px;

    font-family: Kanit;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    text-align: center;

    color: #000000;
}

.Pfour-one{
    position: absolute;
    left: 680px;
    top: 120px;
}

/* ลบ 120 ต่อ ด้านล่าง */
.Pfour-two{
    position: absolute;
    left: 805px;
    top: 270px;
}

.Ptext8{
    /* นำเข้าอะไหล่โดยมีใบสั่งซื้อ */
    position: absolute;
    left: 790px;
    top: 190px;

    font-family: Kanit;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    text-align: center;

    color: #000000;
}

.Ptext9{
    /* นำเข้าอะไหล่โดยมีใบสั่งซื้อ */
    position: absolute;
    left: 780px;
    top: 325px;

    font-family: Kanit;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    text-align: center;

    color: #000000;
}

.Pfive-one{
    position: absolute;
    left: 980px;
    top: 125px;
}

.Ptext10{
    /* นำเข้าอะไหล่โดยมีใบสั่งซื้อ */
    position: absolute;
    left: 985px;
    top: 195px;

    font-family: Kanit;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    text-align: center;

    color: #000000;
}