.ALSone-one{
    position: absolute;
    left: 105px;
    top: 100px;
}

.ALSone-one-new{
    position: absolute;
    left: 105px;
    top: 100px;
}





.ALStext1{
    /* นำเข้าอะไหล่โดยมีใบสั่งซื้อ */
    position: absolute;
    left: 39px;
    top: 165px;

    font-family: Kanit;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    text-align: center;

    color: #000000;
}





.ALStwo-one{
    position: absolute;
    left: 355px;
    top: 100px;
}

.ALStwo-one-new{
    position: absolute;
    left: 355px;
    top: 90px;
}




.ALStext4{
    position: absolute;
    left: 310px;
    top: 165px;

    font-family: Kanit;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    text-align: center;

    color: #000000;
}




.ALSthree-one{
    position: absolute;
    left: 585px;
    top: 100px;
}

.ALSthree-one-new{
    position: absolute;
    left: 595px;
    top: 90px;
}




.ALStext7{
    /* นำเข้าอะไหล่โดยมีใบสั่งซื้อ */
    position: absolute;
    left: 500px;
    top: 167px;
    font-family: Kanit;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    text-align: center;

    color: #000000;
}

.ALSFour-one{
    position: absolute;
    left: 105px;
    top: 220px;
}

.ALStext9{
    /* นำเข้าอะไหล่โดยมีใบสั่งซื้อ */
    position: absolute;
    left: 82px;
    top: 287px;
    font-family: Kanit;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    text-align: center;

    color: #000000;
}





.ALSFive-one{
    position: absolute;
    left: 355px;
    top: 220px;
}

.ALSFive-one-new{
    position: absolute;
    left: 360px;
    top: 220px;
}





.ALStext11{
    /* นำเข้าอะไหล่โดยมีใบสั่งซื้อ */
    position: absolute;
    left: 285px;
    top: 287px;
    font-family: Kanit;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    text-align: center;

    color: #000000;
}

.p-tooltip__message.edit_p_tooltip__message.Atooltip1 {
    top: 150px;
    left: 135px;
}

.p-tooltip__message.edit_p_tooltip__message.Atooltip2 {
    top: 170px;
    left: 385px;
}

.p-tooltip__message.edit_p_tooltip__message.Atooltip3 {
    top: 275px;
    left: 390px;
}

.p-tooltip__message.edit_p_tooltip__message.Atooltip4 {
    top: 275px;
    left: 137px;
}