@font-face {
    font-family: THSarabunNew;
    src: url(../font/THSarabunNew/THSarabunNew.ttf);
  }
  
  @font-face {
    font-family: Anakotmai-Light;
    src: url(../font/Anakotmai/Anakotmai-Light.ttf);
  }
  
  * {
    font-family: THSarabunNew;
  }

  .float-left{
    float: left;
  }

  .float-right{
    float: right;
  }
  
  .mt-0{
    margin-top: 0rem;
  }
  
  .mt-1{
    margin-top: 0.5rem;
  }
  
  .mt-2{
    margin-top: 1rem;
  }
  
  .mt-3{
    margin-top: 1.5rem;
  }
  
  .mt-4{
    margin-top: 2rem;
  }
  
  .mt-5{
    margin-top: 2.5rem;
  }
  
  .mt-auto{
    margin-top: auto;
  }
  
  .mb-0{
    margin-bottom: 0rem;
  }
  
  .mb-1{
    margin-bottom: 0.5rem;
  }
  
  .mb-2{
    margin-bottom: 1rem;
  }
  
  .mb-3{
    margin-bottom: 1.5rem;
  }
  
  .mb-4{
    margin-bottom: 2rem;
  }
  
  .mb-5{
    margin-bottom: 2.5rem;
  }
  
  .mb-auto{
    margin-bottom: auto;
  }
  
  .mt-1n{
    margin-top: -0.5rem;
  }
  
  .mt-2n{
    margin-top: -1rem;
  }
  
  .mt-3n{
    margin-top: -1.5rem;
  }
  
  .mt-4n{
    margin-top: -2rem;
  }
  
  .mt-5n{
    margin-top: -2.5rem;
  }
  
  .mr-0{
    margin-right: 0;
  }
  
  .mr-1{
    margin-right: 0.5rem;
  }
  
  .mr-2{
    margin-right: 1rem;
  }
  
  .mr-3{
    margin-right: 1.5rem;
  }
  
  .mr-4{
    margin-right: 2rem;
  }
  
  .mr-5{
    margin-right: 2.5rem
  }
  
  .ml-0{
    margin-left: 0
  }
  
  .ml-1{
    margin-left: 0.5rem;
  }
  
  .ml-2{
    margin-left: 1rem;
  }
  
  .ml-3{
    margin-left: 1.5rem;
  }
  
  .ml-4{
    margin-left: 2rem;
  }
  
  .ml-5{
    margin-left: 2.5rem
  }
  
  .pt-0{
    padding-top: 0.5rem;
  }
  
  .pt-1{
    padding-top: 1rem;
  }
  
  .pt-2{
    padding-top: 1.5rem;
  }
  
  .pt-3{
    padding-top: 2rem;
  }
  
  .pt-4{
    padding-top: 2.5rem;
  }
  
  .pt-5{
    padding-top: 3rem;
  }
  
  .d-inline{
    display: inline;
  }
  
  #header{
    background-color: #840204;
    width: 100%;
    position: fixed;
    z-index: 1;
  }

  #toolbar{
    top: 48px;
    height: 28px;
    background-color: white;
    width: 100%;
    position: fixed;
    z-index: 1;
  }
  
  #blackground-gray{
    background: #F7F7F7;
    height: 100%;
    padding-bottom: 4rem;
    position: relative;
  }
  
  #blackground-white{
    background: white;
    height: 100%;
  }
  
  section{
    margin-top: 55px;
  }
  
  li {
    display: inline;
    padding: 5px;
  }

  /* Top Content */
.head-title{
    font-family: Anakotmai-Light;
    color: #2F6FCA;
    font-weight: bold;
    font-size: 20px;
    line-height: 36px;
    margin-top: 1.5rem;
    margin-bottom: 10px;
  }
  
  p.top-text{
    font-size: 20px;
    line-height: 21px;
    margin-bottom: 5px;
  }

  .top-text{
    font-size: 20px;
    line-height: 21px;
    margin-bottom: 5px;
  }
  
  /* Input Bottom */
  input.cancel-default{
    width: 100%;
    height: 24px;
    padding-right: 22px;
    padding-left: 5px;
    padding-top: 0rem;
    padding-bottom: 0rem;
    min-width: 0em;
    margin-bottom: 0rem;
    margin-right: 0rem;
    margin-left: auto;
    font-size: 19px;
    font-family: THSarabunNew;
  }
  
  .p-search-box__button.cancel-padding{
    top: -2px;
    right: 10px;
    padding: 0;
  }
  
  .p-search-box.cancel-margin {
    height: 26px;
    /* top: -5px; */
    margin-bottom: 10px;
  }
  
  .head-title-bottom{
    color: #000000;
    font-size: 28px;
    line-height: 30px;
  } 
  
  label.cancel-default{
    font-weight: 300;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: auto;
    top: 8px;
  }

  h5.cancel-default{
    font-weight: 300;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: auto;
    top: 8px;
  }
  
  p.cancel-default{
    font-weight: 300;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 5px;
  }

  textarea.edit{
    margin-top: 0.5rem;
    margin-bottom: 0;
    font-size: 14px;
  }
  
  /* input selected */
  select.edit-select{
    width: 100%;
    height: 20px;
    padding-right: 2rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
    min-width: 0em;
    margin-top: 0.5rem;
    margin-bottom: 0rem;
    margin-right: 0rem;
    margin-left: auto;
    font-size: 14px;
  }

  /* Footer */
  #footer{
    bottom: 0;
    background-color: white;
    width: 100%;
    height: 40px;
    position: fixed;
    z-index: 1;
  }
  
  .nav-footer {
    overflow: hidden;
    background-color: white;
    position: fixed;
    bottom: 5px;
    width: 100%;
  }
  
  .float-right{
    float: right;
  }
  
  .p-button--base.edit{
    color: #2F6FCA;
    font-family: Anakotmai-Light;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0;
    padding-top: 1px;
    padding-bottom: 1px;
    width: auto;
  }
  
  .button-blue{
    background-color: #2F6FCA;
    border: none;
    color: white;
    font-family: Anakotmai-Light;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0;
    padding-top: 1px;
    padding-bottom: 1px;
    width: auto;
  }
  
  .button-red{
    background-color: #840204;
    border: none;
    color: white;
    font-family: Anakotmai-Light;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0;
    padding-top: 1px;
    padding-bottom: 1px;
    width: 100%;
  }
  
  .button-blue:hover{
    background-color: rgb(38, 91, 165);
  }

  .button-green{
    background-color: #0E8420;
    border: none;
    color: white;
    font-family: Anakotmai-Light;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0;
    padding-top: 1px;
    padding-bottom: 1px;
    width: auto;
  }
  
  /* red-house */
  #red-house{
    bottom: 0;
    background-color: #530806;
    width: 100%;
    height: 30px;
    padding-top: 3px;
    position: fixed;
    z-index: 1;
  }
  
  #red-house2{
    bottom: 20px;
    width: 100%;
    z-index: 1;
    position: fixed;
  }
  
  .from-red-house{
    text-align: center;
    /* padding: 80px 250px 0px 250px; */
  }

  /* Tea */
.ui.segment.item {
    position: relative;
    background: #fff;
    box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
    margin: 2rem 0;
    padding: 1em;
    border-radius: 0.25rem;
    border: 1px solid rgba(34, 36, 38, 0.15);
}

.dropZone {
    overflow-y:scroll;
    background: white;
    color: black;
    padding: 20px 10px 20px 10px;
    text-align: center;
    height:250px
}

.card {
    background: #fff;
    display: inline-block;
    border: 2px solid #949191;
    padding: 3%;
    width: 100%;
    border-radius: 5px;
}

.card:hover{
    border-color: #860104;
}

.card-body{
    color: #545454;
    font-family: Anakotmai-Light;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
}

.card-body:hover{
    color: #840204;
}

.card-footer{
    color: #999999;
    font-family: Anakotmai-Light;
    font-style: normal;
    font-size: 12px;
    line-height: 18px;
}

.image {
    float: left;
    width: 30%;
    height: 100%;
    position: relative;
}

.content {
    float: left;
    height: 100%;
    width: 65%;
    padding: 2%;
}

.text-center{
  text-align: center;
}

.text-left{
  text-align: left;
}

.text-right{
  text-align: right;
}
