/* Style the tab */
.tab {
    overflow: hidden;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    font-size: 20px;
    font-weight: 600;
    color: #666666;
    border: none;
    margin: 0;
    padding: 14px 16px;
    transition: 0.3s;
    width: auto;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    bottom: -1px;
    border-bottom: 2px solid gray;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
  }